<h2>MY Redmine Search</h2>

<h3>Setup</h3>
<ol>
  <li>
    Install Google Chrome extension<br>
    <%= link_to 'install chrome extension', home_path + 'plugin_assets/redmine_my_search/crx/my-redmine-search.crx' %>
  </li>
  <li>Open Google Chrome extension page<br>
    <%= image_tag 'plugin_assets/redmine_my_search/ss1.png' %>
  </li>
  <li>Open <strong>Redmine My Search</strong> options page<br>
    <%= image_tag 'plugin_assets/redmine_my_search/ss2.png' %>
  </li>
  <li>Set your Redmine url and api key<br>
    <%= image_tag 'plugin_assets/redmine_my_search/ss3.png' %>
  </li>
</ol>

<h3>Usage</h3>
<ol>
  <li>Focus to Omnibox and type <strong>r + tab(space)</strong><br>
    <%= image_tag 'plugin_assets/redmine_my_search/ss4.png' %>
  </li>
</ol>

